// Insert your mixins
@mixin vertical-center($offsetY) {
  top: 50%;
  transform: translate(0%,-50% - $offsetY);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
