<h1 class="header text-center subheader"> IMDB Top 250 Movies</h1>

<div class="row text-center navigation">
  <a href="#/list">List View</a>
</div>

<div id="gallery">
  <div class="row">
    <div class="small-12 columns text-center">
      <h5 class="subheader">Filter by genre:</h5>
    </div>
    <div id="button-container">
      <button class="button small-3 medium-1 columns" ng-repeat="genreFilter in genreFilters" ng-click="applyFilter(genreFilter)">
        {{genreFilter}}
      </button>
    </div>
  </div>

  <div class="row">
      <div class="columns small-4 medium-2 poster-container" ng-repeat="movie in movies | filter: {genre: appliedGenreFilter}" >
        <a ng-href="#/details/{{movie.rank}}">
          <img class="poster-image thumbnail" ng-src="data/images/{{movie.imdbID}}.jpg"/>
        </a>
      </div>
  </div>

</div>